*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
html {
    font-family: 'Montserrat', sans-serif;
}
/* EN ESTE APARTADO SE CAMBIA EL COLOR DE LOS ELEMENTOS DE LA PAGINA WEB */
:root{
    --principal: #ffffff;
    --secundario: rgb(47, 45, 49);
    --tercero: black;
    --color-facebook: rgb(55, 23, 197);
    --color-twitter: rgb(74, 165, 245);
    --color-instagram: #e46de0;
    --color-youtube:red;
    --color-gris: grey;
}
/*body {
    margin: 0;
    background-color: #efefef;
}*/

nav{
    background-color: #000;
    height: 100px;
    color: white;
    position: fixed;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 32px;
    padding: 0 80px;
    line-height: 100px;
}

nav ul{
    color: white;
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 20px;
}

nav ul li a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

/*header {
    background-color: rgb(0, 0, 0);
    padding: 1rem 1rem;
    color: white;
    height: 100px;
}*/

/*header {
    font-size: 1rem;
    text-align: center;
}*/

/*nav ul li{
    float: right;
    line-height: 5px;
}

header h1{
    float: left;
    line-height: 10px;
    margin: 40px 0px 0px 30px;
}*/

.gallery {
    margin: 0, 0, 0, 100px;
}

.gallery{
    margin: 0 auto;
    align-items: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 3% 1% 3% 1%;
}


.gallery img {
    width: 100%;
}

/*.container {
    width: 400px;
    margin: 0 auto;
}*/

/*footer {
    background-color: black;
    padding: 3rem 2rem;
    color: rgb(255, 255, 255);
}*/

/*ul li {
    display: inline-block;
    line-height: 10px;
    margin: 30px 40px 0px 50px;

}*/

img {
    margin: 0 auto;
    float: center;
    margin-top: 0%;
    margin-left: 0%;
    text-align: center;
}

/*ul li a{
    color: white;
}*/

a:hover{
    background-color: rgb(67, 66, 87);
    opacity: 50%;
    transition: 0.5s;
}

footer section a{
    float: right;
    margin: 20px;
    color: white;
}

.checkbtn{
    display: none;
    font-size: 32px;
    color: #ffffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    /*display: none;
    font-size: 32px;
    color: white;
    float: right;
    line-height: 40px;
    margin: 20px;*/
}

#check{
    display: none;
}

@media(max-width:991px){
    label.logo{
        font-size: 30px;
        padding-left: 40px;
    }
    header nav ul li{
        font-size: 16px;
    }
}

@media (max-width:991px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: All .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 23px;
    }
    #check:checked ~ ul{
        left: 0; 
    }
}
/* termina la seccion de menu y comienza una nueva seccion */


.fondo{
    background: linear-gradient(to bottom,#cc819ba8,rgba(77, 77, 189, 0.671)), url("https://images.unsplash.com/photo-1467803738586-46b7eb7b16a1?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat;
    background-size: cover;
    height: 100vh;
}

/* FOOTER */
footer{
    position: relative;
    background: var(--secundario);
    width: 100%;
    bottom: 0;
}

footer::before{
    content:''; 
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    background: var(--principal);
}

footer .content{
    max-width: 1280px;
    margin: auto;
    padding: 30px 40px 30px 30px;
}

footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

footer .top .logo-details{
    color: var(--principal);
    font-size: 32px;
}
.content .top .media-icons{
    display: flex;
}
.content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    color: var(--principal);
    font-size: 19px;
    direction: none;
    line-height: 40px;
    transition: all 0.4s ease;
}

/* ICONOS DE REDES SOCIALES */

.top .media-icons a:nth-child(1){
    background: var(--color-facebook);
}

.top .media-icons a:nth-child(1):hover{
    color: var(--color-facebook);
    background: var(--principal);
}

.top .media-icons a:nth-child(2){
    background: var(--color-twitter);
}

.top .media-icons a:nth-child(2):hover{
    color: var(--color-twittert);
    background: var(--principal);
}
.top .media-icons a:nth-child(3){
    background: var(--color-instagram);
}

.top .media-icons a:nth-child(3):hover{
    color: var(--color-instagram);
    background: var(--principal);
}
.top .media-icons a:nth-child(4){
    background: var(--color-youtube);
}

.top .media-icons a:nth-child(4):hover{
    color: var(--color-youtube);
    background: var(--principal);
}
/* ICONOS DE REDES SOCIALES */

/* INFORMACION EN EL FOOTER */
footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link-name{
    color: var(--principal);
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}
/* INFORMACION EN EL FOOTER */

/* LINEA DE SEPARACION EN EL FOOTER */
.link-boxes .box .link-name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 3px;
    width: 110px;
    background: var(--principal);
}

/* LINEA DE SEPARACION EN EL FOOTER */

.content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
    
}

.content .link-boxes .box a{
    color: var(--principal);
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    opacity: .7;
    
}

.content .link-boxes .box li a::hover{
    opacity: 1;
    text-decoration: none;
}

footer .bottom-detail{
    width: 100%;
    background: var(--tercero);
}


/* FOOTER */